$maincolor: #F59B00;
$primarycolor: rgba(19, 166, 186, 1);
$bgcolor: rgba(251, 237, 218, 1);
$benefitbg: rgba(251, 252, 237, 1);
$acsent1: rgba(103, 112, 113, 1);
$acsent2: rgba(204, 207, 208, 1);
$acsent3: rgba(119, 45, 139, 1);
